<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Start Bootstrap - SB Admin Version 2.0 Demo</title>

    <!-- Core CSS - Include with every page -->
    <link href="/media/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/media/admin/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Forms -->

    <!-- SB Admin CSS - Include with every page -->
    <link href="/media/admin/css/sb-admin.css" rel="stylesheet">
    
    <link href="/media/admin/css/dragoon.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('dragoon_admin_dashboard') }}">SB Admin v2.0</a>
            </div>
            <!-- /.navbar-header -->
            {{ render(controller('DragoonAdminBundle:Navigation:header', { 'max': 3 })) }}

            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                {{ render(controller('DragoonAdminBundle:Navigation:side', { 'max': 3 })) }}
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% block title %}{% endblock %}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                {% block body %}{% endblock %}
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="/media/admin/js/jquery-1.10.2.js"></script>
    <script src="/media/admin/js/bootstrap.min.js"></script>
    <script src="/media/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="f/media/admin/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="f/media/admin/js/plugins/morris/morris.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="/media/admin/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Forms - Use for reference -->
    <script src="f/media/admin/js/demo/dashboard-demo.js"></script>
    
    <!-- Page-Level Demo Scripts - Forms - Use for reference -->
    <script src="/media/admin/js/dragoon.js"></script>

</body>

</html>
